Repository ItJustWorksTM/EiffelVis, pull requests merged in 2021-11, with the labels that each got.

#26 chunked_graph: reverse link direction
  backend/crates/eiffelvis_core/src/app.rs
  backend/crates/eiffelvis_core/src/graph_storage/chunked_storage.rs
  backend/crates/eiffelvis_core/src/graph_storage/mod.rs
Labels: Backend

#34 backend/event_sender: add sleep and burst options
  backend/tools/event_sender/src/main.rs
Labels: enhancement, Backend

#36 backend/gen: fix by 1 error causing target amount of 0 links to be ignored
  backend/crates/eiffelvis_gen/src/generator.rs
Labels: bug, Backend

#44 frontend/net: initial networking api
  frontend/src/components/Graph.tsx
  frontend/src/helpers/dataParser.ts
  frontend/src/helpers/useEiffelNet.ts
  frontend/src/helpers/useTweakPane.ts
  frontend/src/helpers/useWebSocket.ts
  frontend/src/interfaces/ApiData.d.ts
  frontend/src/interfaces/types.ts
Labels: Frontend

#30 Layout for graph
  frontend/src/components/Graph.tsx
  frontend/src/helpers/dataParser.ts
Labels: fundamental, Frontend

#47 Switch entire stack to use unix millis instead of seconds
  backend/crates/eiffelvis_core/src/domain/types.rs
  backend/crates/eiffelvis_core/src/domain/user_queries.rs
  backend/crates/eiffelvis_core/src/graph_storage/chunked_storage.rs
  backend/crates/eiffelvis_gen/src/base_event.rs
  backend/crates/eiffelvis_gen/src/generator.rs
  frontend/src/components/Graph.tsx
  frontend/src/components/TooltipCard.tsx
  frontend/src/helpers/useEiffelNet.ts
  frontend/src/helpers/useWebSocket.ts
  frontend/src/interfaces/ApiData.d.ts
  frontend/src/interfaces/types.ts
Labels: bug, Backend, Frontend
