Repository ItJustWorksTM/EiffelVis, pull requests merged in 2021-12, with the labels that each got.

#57 Add Event Type to Frontend Data
  backend/crates/eiffelvis_core/src/domain/types.rs
  frontend/src/components/Graph.tsx
  frontend/src/components/TooltipCard.tsx
  frontend/src/helpers/dataParser.ts
  frontend/src/interfaces/ApiData.d.ts
Labels: fundamental, Backend, Frontend

#63 Overhaul graph storage indexing
  backend/crates/eiffelvis_core/src/graph_storage/chunked_storage.rs
  backend/src/main.rs
Labels: Performance, Backend

#55 [Frontend] TimeBar implementation
  frontend/src/components/Graph.tsx
  frontend/src/css/timebar.css
  frontend/src/helpers/dataParser.ts
  frontend/src/interfaces/ApiData.d.ts
Labels: Frontend

#65 Graph Scaling
  frontend/src/components/Graph.tsx
  frontend/src/helpers/dataParser.ts
  frontend/src/helpers/useCustomShapes.ts
  frontend/src/helpers/useLayout.ts
  frontend/src/helpers/useTweakPane.ts
Labels: enhancement, Frontend
